.headline-container {
    background: center / cover no-repeat url("../../assets/heading-background.jpg");
    max-height: 500px;
    height: 500px;
}

@media (max-width: 768px) {
    .headline-container {
        max-height: 200px;
        height: 200px;
    }
}

.headline {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.headline h1.ui.header {
    color: white;
    font-size: 54px;
}

.headline-action {
    margin-top: 2em !important;
}
