@media screen and (max-width: 640px) {
    .jump-link-container .ms-Stack-inner {
        flex-direction: column;
        align-content: center;
    }
}

.jump-link {
    width: 9em;
    height: 9em;
    border-radius: 4.5em;
    box-shadow: 4px 4px 4px dimgray;
}
