:root {
    --white: rgb(255, 255, 255);
    --blue: rgb(20, 46, 192);
    --facebook-blue: rgb(34, 122, 238);
    --blue-background-color: var(--blue);
    --dark-background-color: #1b1c1d;
    --default-background-color: rgb(185, 185, 185);
}

.white {
    color: var(--white);
}

.blue {
    color: var(--blue);
}

.facebook-blue {
    color: var(--facebook-blue);
}

.blue-background {
    background-color: var(--blue-background-color);
}

.dark-background {
    background-color: var(--dark-background-color);
}

.default-background {
    background-color: var(--default-background-color);
}
