.headline-container {
    background: center / cover no-repeat url("../assets/heading-background.jpg");
    max-height: 500px;
    height: 500px;
}

@media (max-width: 768px) {
    .headline-container {
        max-height: 200px;
        height: 200px;
    }
}

.headline {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}
