.headline-container {
    background: center / cover no-repeat url("../assets/heading-background.jpg");
    max-height: 500px;
    height: 500px;
}

@media (max-width: 768px) {
    .headline-container {
        max-height: 200px;
        height: 200px;
    }
}

.headline {
    display: flex;
    height: 100vh;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.headline-title {
    color: white;
}
