.headline-container {
    background: center / cover no-repeat url("../../assets/heading-background.jpg");
}

@media (max-width: 1024px) {
    .headline-container {
        max-height: 200px;
        height: 200px;
    }
}

@media (min-width: 1024px) {
    .headline-container {
        max-height: 500px;
        height: 500px;
    }
}

.headline {
    color: white;
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 54px;
    background-color: rgba(0, 0, 0, 0.5);
}
