@import '../common/styles/colors.css';

.main-content {
    background-color: var(--default-background-color);
}

.main-content .content {
    display: flex;
    flex: 1;
    flex-direction: column;
}
