@import "../common/styles/colors.css";

.shell-footer {
    background-color: var(--dark-background-color);
    color: var(--white);
    padding: 1em;
}

.shell-footer .copyright {
    color: inherit;
}
