.ui.vertical.segment.shell-footer {
    margin-top: 2em;
    width: 100%;
    padding-right: 1em !important;
    padding-left: 1em !important;
}

.right-footer {
    display: flex !important;
    align-items: end;
}
