@import '../common/styles/colors.css';

.nav-button {
    font-size: 1rem;
    color: var(--white);
    background-color: transparent;
    border: none;
}

.active {
    border-bottom-color: white;
}

.navbar {
    background-color: var(--dark-background-color);
    color: var(--white);
    padding: 1em;
    width: 100vw;
}

.navbar .nav-button {
    border-right: rgba(255,255,255,0.2) solid 1px;
}

.navbar .command-button {
    height: auto;
}

.navbar .command-button:hover {
    color: inherit;
}

.navbar .nav-menu-button {
    visibility: collapse;
}

.navbar a[aria-current="page"] {
    border-bottom: var(--blue) solid 2px;
}

.navpanel {
    background-color: var(--dark-background-color);
    color: var(--white);
}

.navpanel .nav-link {
    margin-bottom: 1em;
    width: 100%;
}

.nav-menu-callout a[aria-current="page"] {
    border-bottom: var(--blue) solid 2px;
}

.navpanel .nav-link .nav-button {
    width: 100%;
}

.navpanel .command-button {
    color: inherit;
}

@media screen and (max-width: 768px) {
    .navbar .nav-link {
        visibility: collapse;
        width: 0;
    }

    .navbar .command-button {
        visibility: collapse;
        width: 0;
    }

    .navbar .nav-menu-button {
        visibility: visible;
    }
}






