@import '../../common/styles/colors.css';

.table {
    border-collapse: collapse;
}

.table thead tr th {
    margin: 0;
}

.table tbody tr td {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
}

.table tbody tr:nth-child(even) {
    background-color: var(--default-background-color);
}
