@import './common/styles/utilities.css';
@import './common/styles/colors.css';

html,
body,
#root {
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
}

#root > div {
    display: flex;
    flex: 1;
}

.bg-facebook-blue {
    background-color: var(--facebook-blue) !important;
    color: var(--white) !important;
}
