@import './common/styles/utilities.css';
@import './common/styles/colors.css';

html,
body,
#root {
    display: block;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--default-background-color);
}

#root > div {
    height: 100vh;
}

img {
    max-width: 80vw;
}
